<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/vendor/quill/quill.snow.css">
    <title>Ajouter une discussion</title>
</head>
<body>
    <%- include("../partials/navbar") %>
    <div class="u-main-container pt-32">
        <h1 class="text-4xl mb-2">Créer une discussion</h1>
        <p class="mb-10">Cette nouvelle discussion apparaîtra dans la page principale.</p>

        <form class="js-thread-form">
            <div class="mb-10">
                <label for="thread" class="f-label mb-3">Titre de la discussion</label>
                <input 
                type="text" 
                class="js-title-input f-input"
                id="thread"
                name="thread"
                required
                >
            </div>
            <p class="mb-2">Premier message de la discussion</p>
            <div id="editor"></div> 

            <button class="c-btn my-4">
                Créer une discussion
            </button>
            <p class="js-create-thread-info"></p>
        </form>
    </div>
    <script src="/vendor/quill/quill.js"></script>
    <script>
        const quill = new Quill("#editor", {theme : "snow"})
        const threadForm = document.querySelector(".js-thread-form")
        const titleInput = document.querySelector(".js-title-input")
        const createThreadInfo = document.querySelector(".js-create-thread-info")

        threadForm.addEventListener("submit", handleCreateThread)

        async function handleCreateThread(e){
            e.preventDefault()

            createThreadInfo.textContent = ""
            if (!quill.getText().trim()) {
                createThreadInfo.textContent = "Le post doit au moins contenir un caractère"
                return
            }
            try {
                const response = await fetch("/api/threads/create",{
                    method : "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        title: titleInput.value,
                        content: quill.root.innerHTML
                    })
                })
                if(!response.ok){
                    throw new Error("Erreur serveur")
                } else {
                    const data = await response.json()
                    console.log(data)
                    createThreadInfo.textContent =`${data.message} : ${data.thread.title}`                   
                }
            }
            catch(error){
                alert("Erreur lors de la création du thread")
            }
            
        }
    </script>
</body>
</html>